@import url(./variables.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 64px;
  height: 64px;
}

.header__main {
  display: flex;
  align-items: center;
  gap: 9px;
}

.header__list {
  width: 700px;
  display: flex;
  justify-content: center;
  gap: 32px;
}

.header__link {
  cursor: pointer;
}

.mode__icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.header__button {
  padding: 18px 42px;
  border-radius: 900px;
  background: var(--Blue-12);
  color: var(--Deep-blue, #297ee2);
  text-align: center;
  border: none;
}

.section__cover {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.section__main {
    margin-top: 20px;
}


.section__title {
    width: 692px;
    margin-top: 80px;
}

.text__blue {
    color: var(--General);
}

.section__description {
    margin-top: 32px;
    width: 350px;
}

.section__button {
    margin-top: 32px;
    padding: 18px 42px;
    width: 196px;
    border: none;
    background:  var(--General);
    border-radius: 900px;
    color: var(--White);
}

.popular__bots-icons {
    margin-top: 56px;
    display: flex;
    align-items: center;
}

.bot__icon {
    width: 96px; 
    height: 96px; 
    margin-left: -32px; 
}

.bot__icon:first-child {
    margin-left: 0; 
}

.popular__bots-text {
    margin-top: 16px;
}

.phone {
    margin-top: -11px;
    padding-bottom: 60px;
}