@import url(./variables.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 64px;
  height: 64px;
}

.header__main {
  display: flex;
  align-items: center;
  gap: 9px;
}

.header__list {
  width: 700px;
  display: flex;
  justify-content: center;
  gap: 32px;
}

.header__link {
  cursor: pointer;
}

.mode__icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.header__button {
  padding: 18px 42px;
  border-radius: 900px;
  background: var(--Blue-12);
  color: var(--Deep-blue);
  text-align: center;
  border: none;
}

.section__cover {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.section__main {
  margin-top: 20px;
}

.section__title {
  width: 692px;
  margin-top: 80px;
}

.text__blue {
  color: var(--General);
}

.section__description {
  margin-top: 32px;
  width: 350px;
}

.section__button {
  margin-top: 32px;
  padding: 18px 42px;
  width: 196px;
  border: none;
  background: var(--General);
  border-radius: 900px;
  color: var(--White);
}

.popular__bots-icons {
  margin-top: 56px;
  display: flex;
  align-items: center;
}

.bot__icon {
  width: 96px;
  height: 96px;
  margin-left: -32px;
}

.bot__icon:first-child {
  margin-left: 0;
}

.popular__bots-text {
  margin-top: 16px;
}

.phone {
  margin-top: -11px;
  padding-bottom: 60px;
}

.section__product-presentation {
  margin-top: 144px;
}

.product__presentation-texts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product__presentation-currencies {
  padding: 42px 56px;
  display: flex;
  flex-direction: column;
  gap: 42px;
  border-radius: 40px;
  background: var(--Bg-light);
}

.text__product {
  color: var(--Dark-80);
}

.img__currency-container {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
}

.img__currency-text {
  color: var(--Dark-40);
  text-align: center;
  transition: 0.3s ease-in-out;
}

.img__currency-text.zoomed {
  color: var(--Dark-80);
}

.currency__img {
  transition: 0.3s ease-in-out;
}

.currency__img.zoomed {
  transform: scale(1.1);
}

.section__block-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.commission__exchange-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.commission__block,
.exchange__block {
  width: 488px;
  padding: 42px 56px;
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  background: var(--Bg-light);
  gap: 16px;
}

.commission__text,
.exchange__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.commission__animated {
  position: relative;
  width: 100%;
  padding: 37px 76.5px 53px 76.5px;
}

.animated__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 223px;
  padding: 17.8px 39px;
  border: none;
  border-radius: 17px;
  background: linear-gradient(
    240deg,
    rgba(41, 126, 226, 0.12) 3.57%,
    rgba(24, 97, 182, 0.12) 86.24%
  );
  transition: transform 0.5s;
}

.animated__button.zoomed {
  transform: scale(1.1);
  background: linear-gradient(
    240deg,
    rgba(41, 126, 226, 0.18) 3.57%,
    rgba(24, 97, 182, 0.18) 86.24%
  );
}

.animated__arrow {
  width: 45.802px;
  height: 48.738px;
  position: absolute;
  top: 90px;
  left: 300px;
  transition: top 0.5s, left 0.5s;
}

.exchange__animated {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.exchange__coin-background {
  width: 96px;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 900px;
  border: 4px solid #f1f5f9;
  background: linear-gradient(25deg, #8ddad5 -22.31%, #1ba27a 65.28%);
  box-shadow: 0px 0px 8px 0px rgba(182, 186, 191, 0.04),
    0px 2px 3px 0px rgba(0, 0, 0, 0.02);
  margin-left: -62px;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  transform: translateX(0);
  opacity: 1;
}

.exchange__coin-background:nth-child(2) {
  background: linear-gradient(30deg, #ff930f -50.58%, #fbc411 93.3%);
}

.exchange__coin-background:nth-child(3) {
  background: linear-gradient(211deg, #04befe -2.24%, #4481eb 108.4%);
}

.coin__logo {
  transition: 0.3s ease-in-out;
  opacity: 0;
}

.coin__logo.active {
    opacity: 1;
}

.btn__exchange {
    margin-left: -16px;
    z-index: 5;
}

.dollar__img {
    width: 96px;
    height: 96px;
    margin-left: -20px;
}

