@import url(./variables.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo,
.footer__logo {
  width: 64px;
  height: 64px;
}

.header__main {
  display: flex;
  align-items: center;
  gap: 9px;
}

.header__list {
  width: 700px;
  display: flex;
  justify-content: center;
  gap: 32px;
}

.header__link {
  cursor: pointer;
  list-style-type: none;
}

.mode__icon {
  width: 40px;
  height: 40px;
  background: url("./assets/icons/mode.svg");
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.mode__icon.dark {
  width: 40px;
  height: 40px;
  background: url("./assets/icons/mode-dark.svg");
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.header__button,
.footer__button {
  width: 193px;
  padding: 17px 0px;
  border-radius: 900px;
  background: var(--Blue-12);
  color: var(--Deep-blue);
  text-align: center;
  border: none;
}

.header__button.dark,
.footer__button.dark {
  background-color: inherit;
  color: var(--White);
  border: 1px solid var(--White-60);
}

.section__cover {
  margin-top: 40px;
  display: flex;
  gap: 85px;
}

.section__main {
  margin-top: 20px;
}

.section__title {
  width: 692px;
  margin-top: 80px;
}

.section__description {
  margin-top: 32px;
  width: 350px;
}

.section__button {
  margin-top: 32px;
  padding: 18px 42px;
  width: 196px;
  border: none;
  background: var(--General);
  border-radius: 900px;
  color: var(--White);
}

.popular__bots-icons {
  margin-top: 56px;
  display: flex;
  align-items: center;
}

.bot__icon {
  width: 96px;
  height: 96px;
  margin-left: -32px;
}

.bot__icon:first-child {
  margin-left: 0;
}

.popular__bots-text {
  margin-top: 16px;
  padding-bottom: 220px;
}

.phone {
  width: 353px;
  height: 770px;
  background: url("./assets/images/img_phone-light.webp");
  background-position: center;
  background-size: cover;
  transition: 0.3s;
}

.phone.dark {
  background: url("./assets/images/img_phoneDark.webp");
  background-position: center;
  background-size: cover;
  width: 353px;
  height: 770px;
}

.section__product-presentation {
  margin-top: 144px;
}

.product__presentation-texts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product__presentation-currencies {
  padding: 42px 56px;
  display: flex;
  flex-direction: column;
  gap: 42px;
  border-radius: 40px;
  background: var(--Bg-light);
}

.img__currency-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img__currency {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.img__currency-text {
  color: var(--Dark-40);
  text-align: center;
  transition: 0.3s ease-in-out;
}

.img__currency-text.zoomed {
  color: var(--Dark-80);
}

.img__currency-text.zoomed-dark {
  color: var(--White-80);
}

.currency__img {
  transition: 0.3s ease-in-out;
}

.currency__img.zoomed {
  transform: scale(1.1);
}

.section__block-wrapper {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.commission__exchange-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}

.commission__block,
.exchange__block {
  width: 488px;
  padding: 42px 56px;
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  background: var(--Bg-light);
  gap: 16px;
}

.commission__text,
.exchange__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.commission__animated {
  position: relative;
  width: 100%;
  padding: 37px 76.5px 53px 76.5px;
}

.animated__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 223px;
  padding: 17.8px 39px;
  border: none;
  border-radius: 17px;
  background: linear-gradient(
    240deg,
    rgba(41, 126, 226, 0.12) 3.57%,
    rgba(24, 97, 182, 0.12) 86.24%
  );
  transition: transform 0.5s;
}

.animated__button.dark {
  background: var(--Gradient-blue);
  color: var(--White);
}

.animated__button.zoomed {
  transform: scale(1.1);
  background: linear-gradient(
    240deg,
    rgba(41, 126, 226, 0.18) 3.57%,
    rgba(24, 97, 182, 0.18) 86.24%
  );
}

.animated__button.zoomed-dark {
  transform: scale(1.1);
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    linear-gradient(233deg, #9fccfa -20.48%, #0974f1 97.38%);
}

.animated__arrow {
  width: 45.802px;
  height: 48.738px;
  position: absolute;
  top: 90px;
  left: 300px;
  transition: top 0.5s, left 0.5s;
}

.exchange__animated {
  padding: 1px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  align-items: center;
}

.exchange__coin-background {
  width: 104px;
  height: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 900px;
  border: 4px solid #f1f5f9;
  background: linear-gradient(25deg, #8ddad5 -22.31%, #1ba27a 65.28%);
  box-shadow: 0px 0px 8px 0px rgba(182, 186, 191, 0.04),
    0px 2px 3px 0px rgba(0, 0, 0, 0.02);
  margin-left: -62px;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  transform: translateX(0);
  opacity: 1;
}

.exchange__coin-background:nth-child(2) {
  background: linear-gradient(30deg, #ff930f -50.58%, #fbc411 93.3%);
}

.exchange__coin-background:nth-child(3) {
  background: linear-gradient(211deg, #04befe -2.24%, #4481eb 108.4%);
}

.exchange__coin-background.dark {
  border: 4px solid #1a1a1a;
}

/* slider-section start */

.section__slider-presentation {
  width: 100%;
  height: 880px;
  background: var(--Dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__slider-presentation.bg-dark-block {
  background: var(--BG-dark);
}

.slider__container {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.image__space {
  width: 488px;
  height: 488px;
  position: relative;
  overflow: hidden;
}

.slide1__image {
  width: 405px;
  height: 216.5px;
}

.slide2__image {
  width: 394.28px;
  height: 217.1px;
}

.slide3__image {
  width: 394.28px;
  height: 369px;
}

.slider__bakground1 {
  width: 488px;
  height: 488px;
  border-radius: 40px;
  background: var(--BG-pink);
  transition: 1s;
  position: absolute;
}
.slider__bakground2 {
  position: absolute;
  width: 488px;
  height: 488px;
  border-radius: 40px;
  background: var(--BG-yellow);
  transition: 1s;
}
.slider__bakground3 {
  position: absolute;
  width: 488px;
  height: 488px;
  border-radius: 40px;
  background: var(--BG-blue);
  transition: 1s;
}

.slider_back {
  opacity: 0;
}

.back_active {
  opacity: 1;
}

.current__image {
  width: 488px;
  height: 488px;
  position: absolute;
  bottom: 0;
  transition: ease-in-out 1s;
}
.slider__image {
  width: 488px;
  height: 488px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__text_container1 {
  margin-top: 61px;
  transition: 1s;
  position: absolute;
  left: 610px;
  opacity: 1;
}
.slider__text_container2 {
  margin-top: 61px;
  transition: 1s;
  position: absolute;
  left: 610px;
  opacity: 0;
}
.slider__text_container3 {
  margin-top: 61px;
  transition: 1s;
  position: absolute;
  left: 610px;
  opacity: 0;
}

.slider__text_s {
  margin-top: 32px;
  width: 488px;
  color: var(--White);
}

.slider__button {
  position: absolute;
  top: 359px;
  left: 610px;
  width: 213px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #41a4df;
  border-radius: 29px;
  color: var(--White, #fff);
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  cursor: pointer;
}

.slider__bars {
  color: var(--White);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.slider__bar {
  width: 4px;
  height: 108.67px;
  background-color: rgba(255, 255, 255, 0.24);
  margin-top: 12px;
  border-radius: 2px;
}

.slider03 {
  margin-top: 12px;
}

.slider__bar-active {
  background-color: var(--General);
  transition: 1s;
}

/* slider-section end */

.coin__logo {
  transition: 0.3s ease-in-out;
  opacity: 0;
}

.coin__logo.active {
  opacity: 1;
}

.btn__exchange {
  width: 43.01px;
  height: 25.82px;
  margin-left: -16px;
  z-index: 5;
  background: url(./assets/icons/btn-exchange.svg);
  background-size: cover;
  background-position: center;
}

.btn__exchange.dark {
  width: 43.01px;
  height: 25.82px;
  margin-left: -16px;
  z-index: 5;
  background: url(./assets/icons/btn-exchange-dark.svg);
  background-size: cover;
  background-position: center;
}

.dollar__img {
  width: 96px;
  height: 96px;
  margin-left: -15px;
}

.block__stat {
  padding: 42px 56px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background: var(--Bg-light);
  border-radius: 32px;
}

.stat {
  position: relative;
  background: url("./assets/images/BG-stats.webp");
  width: 580px;
  padding: 45.32px 73px 45.59px 73px;
  background-size: cover;
  background-position: center;
  border-radius: 24px;
}

.stet__texsts {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dollar__image {
  width: 20px;
  height: 20px;
}

.speech__balloon-icon {
  margin-right: 3px;
  width: 20px;
  height: 20px;
}

.hi__five-icon {
  margin-left: 3px;
  width: 20px;
  height: 20px;
}

.stat__content {
  position: absolute;
  width: 434px;
  padding: 10px 8px;
    left: 74px;
  top: 47.32;
  background-color: white;
  border-radius: 16.778px 16.778px 7.83px 7.83px;
  transition: opacity, 0.75s ease-in-out;
  opacity: 1;
  color: var(--Dark);
}


.stat__content.closed {
  opacity: 0;
}

.stat__text:nth-child(2),
.stat__text:nth-child(3),
.stat__text-bottom {
  margin-top: 22.8px;
  align-items: center;
}

.stat__text-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stat__buttons {
  margin-top: 230.76px;
  display: flex;
  flex-wrap: wrap;
  gap: 4.69px;
}

.stat__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 214.552px;
  padding: 12.9px 0px;
  border-radius: 7.831px;
  background: rgba(54, 136, 194, 0.82);
  color: white;
  transition: 0.8s ease-in-out;
}

.stat__button.active {
  background: rgba(32, 114, 172, 0.82);
  display: flex;
  gap: 7px;
}

.stat__button.active::after {
  content: "·";
}

.stat__button.active::before {
  content: "·";
}

.stat__button:last-child,
.stat__button:nth-last-child(2) {
  width: 100%;
}

.stat__data {
  transition: 0.25s ease-in-out;
  opacity: 1;
}

.stat__data.active {
  opacity: 0;
}

/* section__start-steps start */

.section__start-steps {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
  width: 100%;
  background-color: var(--Bg-light);
  padding: 120px 0 120px 0;
}

.steps__container {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}

.step__section1,
.step__section2,
.step__section3 {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.step__section2 {
  flex-direction: row-reverse;
}

.step__number {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  background: linear-gradient(220deg, #010417 10.26%, #2b333f 84.25%);
  box-shadow: 0px 0px 8px 0px rgba(182, 186, 191, 0.04);
  color: var(--White);
  display: flex;
  align-items: center;
  justify-content: center;
}

.step__number.dark {
  background: var(--White);
  color: var(--Dark);
}

.step__title {
  color: var(--Dark);
  margin-top: 20px;
  margin-bottom: 20px;
}

.step__list-item {
  margin-top: 8px;
}

.step__description {
  color: var(--Dark-80);
  margin-bottom: 20px;
}

.step__picture-background1,
.step__picture-background2,
.step__picture-background3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 590px;
  height: 488px;
  border-radius: 40px;
}

.step__picture-background1 {
  background: var(--BG-purple);
}

.step__picture-background2 {
  background: var(--BG-yellow);
}

.step__picture-background3 {
  background: var(--BG-blue);
}

/* section__start-steps end */

/* section__dev-community start */

.section__dev-community {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 120px;
}

.api__background {
  width: 1200px;
  height: 550px;
  background: url(./assets/images/API-blockPC\ image\ .webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 80px;
  padding-top: 147px;
}

.api__content {
  width: 408px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.api__button {
  width: 213px;
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  color: var(--White);
  padding: 17.2px 41px;
  border: 1px solid white;
  border-radius: 29px;
}

.content__dev-community {
  font-family: "Inter", sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dev__community-bg {
  width: 100%;
  background-color: #232328;
}

.community__bg-white {
  width: 100%;
  padding-top: 144px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.community__bg-white.dark {
  background-color: var(--Dark);
}

.community__body-text {
  margin-top: 24px;
  width: 590px;
  text-align: center;
  color: var(--Dark-80);
}

.languages__block {
  width: 992px;
  height: 160px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.language__space {
  width: 179.2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.language__image {
  width: 96px;
  height: 96px;
}

.language__body-text {
  margin-top: 16px;
  color: var(--Dark-80);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.devs__chat-button {
  margin-bottom: 80px;
  margin-top: 40px;
  width: 237px;
  height: 60px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #41a4df;
  color: var(--White);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

/* section__dev-community end */

.verification__anonymous-wrapper {
  margin-top: 4px;
  display: flex;
  gap: 20px;
}

/* VERIFICATION START*/

.verification__block {
  background: var(--Bg-light);
  width: 692px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px 42px 42px 42px;
  border-radius: 40px;
}

.verifivation__content-bg {
  position: relative;
  width: 462px;
  height: 352px;
  background: url(./assets/images/phone-animation-light.webp);
  background-position: center;
  background-size: cover;
  align-self: center;
}

.verifivation__content-bg.dark {
  position: relative;
  width: 462px;
  height: 352px;
  background: url(./assets/images/img_commissionDark.webp);
  background-position: center;
  background-size: cover;
  align-self: center;
}

.verification__content {
  position: absolute;
  padding: 13px 19px 14px 15px;
  left: 31.5px;
  top: 80px;
  width: 398px;
  border-radius: 24px;
  background: linear-gradient(
    98deg,
    #e8f2f9 15.04%,
    #e8f2f9 52.22%,
    #e9f1fa 90.93%
  );
  box-shadow: 0px -2px 20px 0px rgba(0, 0, 0, 0.02);
  display: flex;
  align-items: flex-start;
  gap: 7px;
  transition: transform 0.9s ease-in-out, scale 0.8s ease-in-out,
    opacity 0.8s ease-in-out;
  z-index: 2;
}

.verification__content.dark {
  position: absolute;
  padding: 13px 19px 14px 15px;
  left: 31.5px;
  top: 80px;
  width: 398px;
  border-radius: 24px;
  background: #222;
  box-shadow: 0px -2px 20px 0px rgba(0, 0, 0, 0.02);
  display: flex;
  align-items: flex-start;
  gap: 7px;
  transition: transform 0.9s ease-in-out, scale 0.8s ease-in-out,
    opacity 0.8s ease-in-out;
  z-index: 2;
}

.verification__content-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4px;
}

.telegram__logo {
  margin-top: 29px;
  width: 47px;
  height: 45px;
}

.verification__content-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.verification__text-bottom {
  margin-top: 14px;
}

.verification__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.verification__content.closed {
  display: block;
  opacity: 0;
  transform: translateY(20px);
  z-index: -1;
}

/* VERIFICATION END */

.anonymus__block-wrapper {
  width: 488px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 42px;
  border-radius: 40px;
  background: var(--Bg-light);
}

.anonymus__block {
  position: relative;
  background: var(--Gradient-blue);
  padding: 42px 24px;
  border-radius: 30px;
  height: 211.1px;
}

.anonymus__content {
  position: absolute;
  background-color: white;
  padding: 10px 14.958px;
  border-radius: 16.026px;
  z-index: 1;
  opacity: 1;
  transition: transform 0.8s ease-in-out, scale 0.8s ease-in-out,
    opacity 0.8s ease-in-out;
}

.tail {
  position: absolute;
  width: 21.368px;
  height: 14.958px;
  top: 112px;
  left: -5.2px;
}

.tree {
  position: absolute;
  width: 18.163px;
  height: 18.163px;
  top: 11.1px;
  left: 15px;
}

.anonymus__text {
  margin-left: 23.5px;
}

.anonymus__text:nth-child(2) {
  margin-top: 21.5px;
}

.speech__balloon {
  position: absolute;
  width: 18.163px;
  height: 18.163px;
  flex-shrink: 0;
  top: 75.9px;
  left: 15px;
}

.text__bottom {
  color: #000;
  margin-top: 2px;
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.hard__icon,
.hifive__icon,
.congratulations__icon {
  position: absolute;
  top: 96px;
  left: 63.6px;
  width: 18.163px;
  height: 18.163px;
}

.hard__icon {
  left: 56.6px;
}

.congratulations__icon {
  top: 98px;
  left: 106px;
}

.anonymus__content.closed {
  display: block;
  opacity: 0;
  transform: translateY(20px);
  z-index: -1;
}

.hidden {
  transform: translateY(-20px);
  scale: 0.9;
  opacity: 0.2;
  transition: 0.9s;
  z-index: 0;
}

.anonymus__texts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.warning__image {
  width: 392px;
  height: 253.52px;
}

.code__image {
  width: 394.279px;
  height: 88.353px;
}

.invoice__image {
  width: 403.35px;
  height: 198.35px;
}

/* footer */

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--Dark-blue);
}

.footer__main {
  padding-top: 80px;
  display: flex;
  align-items: center;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding-bottom: 40px;
}

.footer__list {
  width: 844px;
  margin-left: 99px;
  display: flex;
  justify-content: center;
  gap: 32px;
  list-style-type: none;
  align-items: center;
  color: var(--White);
}

.footer__link {
  cursor: pointer;
}

.footer__button {
  width: 193px;
  padding: 17px 0px;
  color: var(--White);
  border: 1px solid var(--White-60);
  background-color: inherit;
}

.footer__text {
  color: var(--White);
}

.bg-dark-block {
  background: var(--Dark-blue);
  color: var(--White);
}

.text__white-80 {
  color: var(--White-80);
}

.text__white-40 {
  color: var(--White-40);
}
